.header {
  height: 720px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 49px 0px 49px;
    .nav_item {
      display: flex;
      flex-direction: row;
    }
    a {
      @include nav_a;
    }
    .language {
      display: flex;
      flex-direction: row;
      justify-content: center;
      span {
        color: var(--white-color);
        font-weight: 700;
        padding: 0px 10px 0px 10px;
      }
    }
  }
  .explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 138px;
    .explore_text {
      width: 701px;
      margin-bottom: 67px;
      h1 {
        @include h1;
        margin-bottom: 8px;
      }
      p {
        @include p;
      }
    }
    .explore_nav {
      display: flex;
      flex-direction: row;
    }
  }
  .form {
    width: 780px;
    height: 67px;
    background-color: var(--white-color);
    border-radius: 8px;
    input {
      border-style: none;
      border-right: 1px solid gray;
      height: 49px;
      font-size: 16px;
      font-weight: 400;
      color: #3d3e48;
      margin-left: 10px;
    }
    div {
      display: flex;
      flex-direction: row;
      margin-top: 9px;
      margin-left: 11px;
      .person {
        border-style: none;
      }
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #43b97f;
      border-radius: 10px;
      border-style: none;
      color: var(--white-color);
      width: 168px;
      height: 49px;
      p {
        margin-left: 9px;
      }
    }
  }
}
