<div class="our_teams">
  <div class="our_teams_text">
    <h1>Our Teams</h1>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
  <div class="our_teams_item">
    <div class="our_teams_item_card">
      <img
        src="../img/pictures/our_teams_img_one.png"
        alt="our_teams_img_one"
      />
      <h3>Agung perdana</h3>
      <p>Web Designer</p>
    </div>
    <div class="our_teams_item_card">
      <img
        src="../img/pictures/our_teams_img_two.png"
        alt="our_teams_img_two"
      />
      <h3>Viola Resti</h3>
      <p>Marketing Director</p>
    </div>
    <div class="our_teams_item_card">
      <img
        src="../img/pictures/our_teams_img_three.png"
        alt="our_teams_img_three"
      />
      <h3>Rahardianysah</h3>
      <p>International Relations</p>
    </div>
    <div class="our_teams_item_card">
      <img
        src="../img/pictures/our_teams_img_four.png"
        alt="our_teams_img_four"
      />
      <h3>Andika</h3>
      <p>Medical Check</p>
    </div>
    <div class="our_teams_item_card">
      <img
        src="../img/pictures/our_teams_img_five.png"
        alt="our_teams_img_five"
      />
      <h3>Theresa Russell</h3>
      <p>Doctor Assistant</p>
    </div>
  </div>
</div>
