<div class="why_choose">
  <div class="why_choose_text">
    <h1>Why Choose Us ?</h1>
    <p>These popular destinations have a lot to offer</p>
  </div>
  <div class="why_choose_item">
    <div class="why_choose_item_card">
      <img src="../img/svg/wc_icon_one.svg" alt="wc_icon_one" />
      <h3>Best price guarantee</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="why_choose_item_card">
      <img src="../img/svg/wc_icon_two.svg" alt="wc_icon_two" />
      <h3>Best price guarantee</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="why_choose_item_card">
      <img src="../img/svg/wc_icon_three.svg" alt="wc_icon_three" />
      <h3>Best price guarantee</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
