<div class="discover_main">
  <div class="discover_main_text">
    <div class="big_d">
      <span>D</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        rhoncus dolor purus non enim praesent elementum facilisis leo, vel
        fringilla est ullamcorper eget nulla facilisi.
      </p>
    </div>
    <p>
      enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra
      orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae
      tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus
      ultrices in iaculis nunc sed augue lacus, viverra vitae congue eu,
      consequat ac felis donec et odio pellentesque diam volutpat commodo sed
      egestas egestas fringilla fau.
    </p>
    <img src="../img/pictures/discover_img.png" alt="discover_img" />
    <h2>Memorable Festivals On Bali Beach</h2>
    <h5>
      <img src="../img/svg/navigation_green.svg" alt="navigation_green" />
      Bali, Indonesia
    </h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer
      facilisis aliquet erat vitae viverra ornare. Placerat urna integer nibh
      justo. Dictum vulputate odio mauris amet, dictumst molestie. Faucibus
      consectetur mauris tristique dolor ut diam, adipiscing et. Semper mi proin
      malesuada orci phasellus. Consectetur posuere iaculis amet sem. Euismod
      turpis pellentesque sit risus eu, sagittis nulla. Facilisis urna, mi
      pharetra sed.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer
      facilisis aliquet erat vitae viverra ornare. Placerat urna integer nibh
      justo. Dictum vulputate odio mauris amet, dictumst molestie.
    </p>
    <div class="discover_main_text_img">
      <img src="../img/pictures/discover_img_one.png" alt="img_one" />
      <img src="../img/pictures/discover_img_two.png" alt="img_two" />
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet integer
      facilisis aliquet erat vitae viverra ornare. Placerat urna integer nibh
      justo. Dictum vulputate odio mauris amet, dictumst molestie. Faucibus
      consectetur mauris tristique dolor ut diam, adipiscing et. Semper mi proin
      malesuada orci phasellus. Consectetur posuere iaculis amet sem. Euismod
      turpis pellentesque sit risus eu, sagittis nulla. Facilisis urna, mi
      pharetra sed.
    </p>
  </div>
  <div class="discover_main_item">
    <div class="maps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20262.371527868523!2d26.227823!3d50.5937367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f13072fea6b2f%3A0xb95bab5fbed50033!2z0J7RgdGC0LLQuNGG0Y8!5e0!3m2!1sru!2sua!4v1674150449711!5m2!1sru!2sua"
        width="380"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <h3>Other Destinations <span>See all</span></h3>
    <div
      class="discover_main_item_card"
      style="background-image: url(../img/pictures/discover_card.png)"
    >
      <h3>Wakatobi beach is a paradise for coral reets in indonesia</h3>
      <p>Yogyakarta, Indonesia</p>
      <button>View More</button>
    </div>
    <div
      class="discover_main_item_card"
      style="background-image: url(../img/pictures/discover_card.png)"
    >
      <h3>Wakatobi beach is a paradise for coral reets in indonesia</h3>
      <p>Yogyakarta, Indonesia</p>
      <button>View More</button>
    </div>
    <div
      class="discover_main_item_card"
      style="background-image: url(../img/pictures/discover_card.png)"
    >
      <h3>Wakatobi beach is a paradise for coral reets in indonesia</h3>
      <p>Yogyakarta, Indonesia</p>
      <button>View More</button>
    </div>
    <div
      class="discover_main_item_card"
      style="background-image: url(../img/pictures/discover_card.png)"
    >
      <h3>Wakatobi beach is a paradise for coral reets in indonesia</h3>
      <p>Yogyakarta, Indonesia</p>
      <button>View More</button>
    </div>
  </div>
</div>
