<footer>
  <div>
    <table>
      <ul>
        <li><img src="../img/pictures/logo.png" alt="logo" /></li>
        <li>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
            purus sit amet luctus venenatis, lectus magna fringilla urna,
            porttitor rhoncus dolor purus non enim praesent elementum facilisis
            leo, vel
          </p>
        </li>
      </ul>
      <ul class="pad">
        <li><h5>links</h5></li>
        <li>
          <p>Discover</p>
          <p>Special Deals</p>
          <p>Services</p>
          <p>Community</p>
          <p>About Us</p>
        </li>
      </ul>
      <ul>
        <li><h5>Services</h5></li>
        <li>
          <p>About Us</p>
          <p>Blog & Articles</p>
          <p>Term and Condition</p>
          <p>Privacy Policy</p>
          <p>Contact Us</p>
        </li>
      </ul>
      <ul>
        <li><h5>Contact</h5></li>
        <li>
          <p>Address: Jl.Codelaras No.205A</p>
          <p>Kediri, Pare AG17</p>
          <p>Phone: 123 456 7890</p>
          <p>Email: myagungperdana@gmail.com</p>
          <p>Maps: Kediri, East java</p>
        </li>
      </ul>
    </table>
  </div>
  <div class="footer_item">
    <h2>Ikuti Kami</h2>
    <div class="footer_item_img">
      <img src="../img/svg/instagram.svg" alt="instagram" />
      <img src="../img/svg/facebook.svg" alt="facebook" />
      <img src="../img/svg/twitter.svg" alt="twitter" />
      <img src="../img/svg/ball.svg" alt="ball" />
      <img src="../img/svg/git.svg" alt="git" />
    </div>
  </div>
</footer>
