<header
  style="background-image: url(../img/pictures/background.png)"
  class="header"
>
  <div class="nav">
    <img src="../img/pictures/logo.png" alt="logo" />
    <div class="nav_item">
      <a href="../index.html" style="font-weight: 900">Home</a>
      <a href="../discover.html">Discover</a>
      <a href="../services.html">Services</a>
      <a href="../news.html">News</a>
      <a href="../about_us.html">About Us</a>
      <a href="../contact.html">Contact</a>
    </div>
    <div class="language">
      <img
        src="../img/svg/emojione_flag-for-indonesia.svg"
        alt="emojione_flag-for-indonesia"
      />
      <span>ID</span>
      <img src="../img/svg/group_2.svg" alt="group_2" />
    </div>
  </div>
  <div class="explore">
    <div class="explore_text">
      <h1>Explore the world with a smile</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        rhoncus dolor purus non enim praesent elementum facilisis leo,
      </p>
    </div>
    <form class="form">
      <div>
        <img src="../img/svg/nav.svg" alt="nav" />
        <input type="text" placeholder="City or Destination" name="City" />
        <input type="text" placeholder="Date of stay" name="Date" />
        <input type="text" placeholder="Person" name="Person" class="person" />
        <button>
          <p>Find Trip Now</p>
          <img src="../img/svg/vector.svg" alt="vector" />
        </button>
      </div>
    </form>
  </div>
</header>
