<div class="news_main">
  <div class="news_main_text">
    <h1>Travelaja Articles</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>
  </div>
  <div class="news_main_item">
    <ul>
      <li class="button">Adventure Travel</li>
      <li style="color: var(--light_green)">Beach</li>
      <li>Explore World</li>
      <li>Family Holidays</li>
      <li>Art and culture</li>
    </ul>
    <div class="news_main_item_wrapper">
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_one.png" alt="news_img_one" />
        <h2>where can i go? 5 amazing countries that are open right now</h2>
        <p>September 19, 2022</p>
      </div>
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_two.png" alt="news_img_two" />
        <h2>beautiful view of indonesia's natural hills</h2>
        <p>September 19, 2022</p>
      </div>
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_three.png" alt="news_img_three" />
        <h2>10 Indonesian Destinations you should visit in this year</h2>
        <p>September 19, 2022</p>
      </div>
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_four.png" alt="news_img_four" />
        <h2>5 mountains that you must visit while in Indonesia</h2>
        <p>September 19, 2022</p>
      </div>
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_five.png" alt="news_img_five" />
        <h2>the most interesting historical monuments in Indonesia</h2>
        <p>September 19, 2022</p>
      </div>
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_six.png" alt="news_img_six" />
        <h2>travel booking before missing the discount</h2>
        <p>September 19, 2022</p>
      </div>
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_seven.png" alt="news_img_seven" />
        <h2>10 Indonesian Destinations you should visit in this year</h2>
        <p>September 19, 2022</p>
      </div>
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_eight.png" alt="news_img_eight" />
        <h2>travel booking before missing the discount</h2>
        <p>September 19, 2022</p>
      </div>
      <div class="news_main_item_card">
        <img src="../img/pictures/news_img_nine.png" alt="news_img_nine" />
        <h2>where can i go? 5 amazing countries that are open right now</h2>
        <p>September 19, 2022</p>
      </div>
    </div>
  </div>
</div>
