<div class="nav">
  <img src="../img/pictures/logo_green.png" alt="logo" />
  <div class="nav_item">
    <a href="../index.html">Home</a>
    <a href="../discover.html">Discover</a>
    <a href="../services.html">Services</a>
    <a href="../news.html" style="color: var(--light_green)">News</a>
    <a href="../about_us.html">About <span>Us</span></a>
    <a href="../contact.html">Contact</a>
  </div>
  <div class="language">
    <img
      src="../img/svg/emojione_flag-for-indonesia.svg"
      alt="emojione_flag-for-indonesia"
    />
    <span>ID</span>
    <img src="../img/svg/group_2_gray.svg" alt="group_2" />
  </div>
</div>
<div
  class="banner"
  style="background-image: url(../img/pictures/news_banner.png)"
>
  <h1>Our News</h1>
</div>
