<div
  class="services_facilities"
  style="background-image: url(../img/pictures/services_banner.png)"
>
  <div class="services_facilities_text">
    <h1>Facilities</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus
      dolor purus non enim luctus venenatis, lectus magna fringilla urna,
      porttitor rhoncus dolor purus non eni
    </p>
    <button class="button">Read More</button>
  </div>
  <div class="services_facilities_item">
    <div class="services_facilities_item_card">
      <img src="../img/svg/service_icon_one.svg" alt="icon_one" />
      <h1>Baby</h1>
      <p>FREE BUGGY</p>
    </div>
    <div class="services_facilities_item_card">
      <img src="../img/svg/services_icon_two.svg" alt="icon_two" />
      <h1>Drinks</h1>
      <p>INCLUDED</p>
    </div>
    <div class="services_facilities_item_card">
      <img src="../img/svg/services_icon_three.svg" alt="icon_three" />
      <h1>Camp</h1>
      <p>INCLUDED</p>
    </div>
    <div class="services_facilities_item_card">
      <img src="../img/svg/services_icon_four.svg" alt="icon_four" />
      <h1>World</h1>
      <p>CUSTOM TOURS</p>
    </div>
  </div>
</div>
