<div class="services_main">
  <div class="services_main_item">
    <div class="services_main_item_card">
      <img src="../img/svg/icon_one.svg" alt="icon_one" />
      <h3>Get Best Price</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu,
        dui tortor, proin eu lectus pellentesque. A cras suscipit amet
      </p>
      <button>READ MORE</button>
    </div>
    <div class="services_main_item_card">
      <img src="../img/svg/icon_two.svg" alt="icon_two" />
      <h3>All Destination</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu,
        dui tortor, proin eu lectus pellentesque. A cras suscipit amet
      </p>
      <button>READ MORE</button>
    </div>
    <div class="services_main_item_card">
      <img src="../img/svg/icon_three.svg" alt="icon_three" />
      <h3 class="padding">City Tours</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu,
        dui tortor, proin eu lectus pellentesque. A cras suscipit amet
      </p>
      <button>READ MORE</button>
    </div>
    <div class="services_main_item_card">
      <img src="../img/svg/icon_four.svg" alt="icon_four" />
      <h3 class="padding">Photography</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eu,
        dui tortor, proin eu lectus pellentesque. A cras suscipit amet
      </p>
      <button>READ MORE</button>
    </div>
  </div>
  <div class="services_main_img">
    <div
      class="services_main_img_card"
      style="background-image: url(../img/pictures/services_img_one.png)"
    >
      <h3>Water City Dreams</h3>
      <h4>September 18, 2022</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
      <button>Read More</button>
    </div>
    <div
      class="services_main_img_card"
      style="background-image: url(../img/pictures/services_img_two.png)"
    >
      <h3>Water City Dreams</h3>
      <h4>September 18, 2022</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
      <button>Read More</button>
    </div>
    <div
      class="services_main_img_card"
      style="background-image: url(../img/pictures/services_img_three.png)"
    >
      <h3>Water City Dreams</h3>
      <h4>September 18, 2022</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet luctus venenatis
      </p>
      <button>Read More</button>
    </div>
  </div>
</div>
