<div class="testimonial">
  <div class="testimonial_text">
    <h3>Testimonial</h3>
    <h2>What they say about us</h2>
  </div>
  <div class="testimonial_item">
    <div class="testimonial_item_one">
      <div class="testimonial_item_card">
        <h5>
          <img src="../img/pictures/avatar_one.png" alt="avatar_one" />Angelina
          Simple
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis
        </p>
      </div>
      <div class="testimonial_item_card">
        <h5>
          <img src="../img/pictures/avatar_two.png" alt="avatar_two" />Viola
          Natalie
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis
        </p>
      </div>
      <div class="testimonial_item_card">
        <h5>
          <img
            src="../img/pictures/avatar_three.png"
            alt="avatar_three"
          />Robert John K.
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis
        </p>
      </div>
      <div class="testimonial_item_card">
        <h5>
          <img src="../img/pictures/avatar_four.png" alt="avatar_four" />Anggi
          Nani
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis
        </p>
      </div>
      <div class="testimonial_item_card">
        <h5>
          <img src="../img/pictures/avatar_five.png" alt="avatar_five" />Graham
          Suryo J
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis
        </p>
      </div>
      <div class="testimonial_item_card">
        <h5>
          <img src="../img/pictures/avatar_six.png" alt="avatar_six" />Bagas G
          Natfi
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis
        </p>
      </div>
    </div>
  </div>
</div>
