<div class="top_destination">
  <div class="top_destination_text">
    <h3>Top destination</h3>
    <h2>Discover your love</h2>
  </div>
  <div class="top_destination_item">
    <div class="top_destination_item_one">
      <div class="top_destination_item_card">
        <img
          src="../img/pictures/top_destination_one.png"
          alt="one"
          class="tabble"
        />
        <h5>Taman Nasional Komodo</h5>
        <div class="top_destination_item_card_footer">
          <p>Rp. 7,5jt</p>
          <div class="footer_item">
            <img src="../img/svg/arrow.svg" alt="arrow" />
            <span>7 days for trips</span>
          </div>
        </div>
      </div>
      <div class="top_destination_item_card">
        <img
          src="../img/pictures/top_destination_two.png"
          alt="two"
          class="tabble"
        />
        <h5>Taman Nasional Bunaken</h5>
        <div class="top_destination_item_card_footer">
          <p>Rp. 10,5jt</p>
          <div class="footer_item">
            <img src="../img/svg/arrow.svg" alt="arrow" />
            <span>9 days for trips</span>
          </div>
        </div>
      </div>
      <div class="top_destination_item_card">
        <img
          src="../img/pictures/top_destination_three.png"
          alt="three"
          class="tabble"
        />
        <h5>Raja Ampat, Papua Barat</h5>
        <div class="top_destination_item_card_footer">
          <p>Rp. 20,5jt</p>
          <div class="footer_item">
            <img src="../img/svg/arrow.svg" alt="arrow" />
            <span>14 days for trips</span>
          </div>
        </div>
      </div>
    </div>
    <div class="top_destination_item_two">
      <div class="top_destination_item_card">
        <img
          src="../img/pictures/top_destination_four.png"
          alt="four"
          class="tabble"
        />
        <h5>Kepulauan Wakatobi</h5>
        <div class="top_destination_item_card_footer">
          <p>Rp. 9,5jt</p>
          <div class="footer_item">
            <img src="../img/svg/arrow.svg" alt="arrow" />
            <span>12 days for trips</span>
          </div>
        </div>
      </div>
      <div class="top_destination_item_card">
        <img
          src="../img/pictures/top_destination_five.png"
          alt="five"
          class="tabble"
        />
        <h5>Gili Trawangan, Lombok</h5>
        <div class="top_destination_item_card_footer">
          <p>Rp. 6,5jt</p>
          <div class="footer_item">
            <img src="../img/svg/arrow.svg" alt="arrow" />
            <span>7 days for trips</span>
          </div>
        </div>
      </div>
      <div class="top_destination_item_card">
        <img
          src="../img/pictures/top_destination_six.png"
          alt="six"
          class="tabble"
        />
        <h5>Taman Nasional Bromo</h5>
        <div class="top_destination_item_card_footer">
          <p>Rp. 9,5jt</p>
          <div class="footer_item">
            <img src="../img/svg/arrow.svg" alt="arrow" />
            <span>7 days for trips</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
