<div class="travelers_point">
  <div class="travelers_point_item">
    <div class="travelers_point_item_img">
      <img src="../img/pictures/group_travel.png" alt="group_travel" />
    </div>
  </div>
  <div class="travelers_point_item_text">
    <h3>Travelers Point</h3>
    <h2>We help to find your dream place</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus
      dolor purus non enim praesent elementum facilisis leo, vel fringilla est
      ullamcorper eget nulla facilisi
    </p>
    <ul>
      <li>
        <h4>100+</h4>
        <p>Holiday Package</p>
      </li>
      <li id="start">
        <h4>172</h4>
        <p>Hotels</p>
      </li>
    </ul>
    <ul>
      <li>
        <h4>68</h4>
        <p>Elite Transportation</p>
      </li>
      <li>
        <h4>32M+</h4>
        <p>we help to find your dream place</p>
      </li>
    </ul>
  </div>
</div>
