:root {
  --container: 1440px;
  --white-color: #ffffff;
  --green-color: #295943;
  --gray-color: #3d3e48;
  --black-color: #000000;
  --light_green: #43b97f;
  --block-footer: #431898;
  --text-color: #1a093c;
  --text-color-light: #787282;
  --radius-photo: 20px;
  --radius-btn: 50px;
  --width-photo_item: clamp(1.5rem, -7.183rem + 43.41vw, 23.75rem);
  --height-photo_item: clamp(1.5rem, -7.671rem + 45.85vw, 25rem);
}
